* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
 

}

body {
  background-color: #000000;
  color: white;
  font-family: "Poppins", sans-serif;
  border: 2px #b3541e solid;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background-color: #461111;
  transition: 0.5s;
  z-index: 10000;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 25px;
}

nav ul li>a {
  text-decoration: none;
  color: white;
}

nav ul li>a:hover {
  color: #b3541e;
  font-size: 1.015rem;
}

.left {
  font-size: 1.5rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

.firstsection>div {
  width: 35%;
}

.leftsection {
  font-size: 2.3rem;
}

.rightsection {
  width: 80%;
}

.cc {
  color: #a13333;
}

#element {
  color: #a13333;
}

.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 85vh;
}

h1 {
  font-size: 2.5rem;
}

hr {
  border: 0;
  background: #461111;
  height: 1px;
  margin: 60px 75px;
}

.aboveh1 {
  color: #a13333;
}

.box {
  background: #b3541e;
  height: 2px;
  width: 85vw;
  margin-top: 50px;
  display: flex;


}

.line {
  background: #b3541e;
  height: 60px;
  width: 0.3px;
  margin: 0 80px;
}

.logo {
  position: relative;
  left: -23px;
  bottom: -64px;

}

.thirdsection {
  max-width: 80vw;
  margin: auto;
  height: 70vh;
}

.to-top {
  background: #b3541e;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #b3541e;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom: 30px;
  pointer-events: auto;
  opacity: 5;
}

.btext {
  font-size: small;
  color: white;
}

.stackinfo {
  position: relative;
  bottom: -200px;
  font-size: 1.25rem;
  color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.5;
}

.projbox {
  padding: 5px;
  height: 400px;
  width: 1350px;
  margin-top: 100px;
  border-radius: 5px;
 

}

.projboxtext {

  height: 400px;
  width: 600px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  right: -665px;
  top: -407px;
  font-size: 1.5rem;
  border-radius: 5px;
  max-width: 1200px;
  text-align: justify;
  line-height: 2;
}

.gwlink {
  color: #b3541e;
  height: 80px;
  width: 200px;
  position: relative;
  left: 865px;
  top: -490px;
  font-size: 1.3rem;

}

img {
  border-radius: 5px;
  position: relative;
  left: -70px;
}

.link {
  background-color: white;
  height: 50px;
  border-radius: 3px;
  font-size: 20px;
  width: 140px;
}

.link:hover {
  background-color: grey;
}

.fourthsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}


input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}


input[type=submit] {
  background-color: #b3541e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #461111;
}


.container {
  border-radius: 5px;
  background-color: #a13333;
  padding: 20px;
}

.git {
  position: relative;
  left: 50px;
  top: 60px;
}

.ln {
  position: relative;
  left: 160px;
  top: -25px;
}

.mail {
  position: relative;
  left: 240px;
  top: -95px;
}

.btn {
  background-color: #b3541e;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  left: 15px;
  top: -10px;
}

.btn:hover {
  background-color: #a13333;
}